@model IEnumerable<TimetableMVCApp.Models.Day>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p class="btn btn-light">
    <a style="text-decoration: none; color: black" asp-action="Create">Create New</a>
</p>

<table class="table table-bordered table-dark">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DayId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Time.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Time.EndTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DayId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time.EndTime)
            </td>
            <td>
                <p class="btn btn-secondary">
                    <a asp-action="Edit" asp-route-id="@item.DayId">Edit</a>
                </p>
                 
                <p class="btn btn-info">
                    <a asp-action="Details" asp-route-id="@item.DayId">Details</a>
                </p>
                 
                <p class="btn btn-danger">
                    <a asp-action="Delete" asp-route-id="@item.DayId">Delete</a>
                </p>
            </td>
        </tr>
}
    </tbody>
</table>
