@model IEnumerable<TimetableMVCApp.Models.Module>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p class="btn btn-light">
    <a style="text-decoration: none; color: black" asp-action="Create">Create New</a>
</p>

<table class="table table-bordered table-dark">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastModifiedDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastModifiedDate)
            </td>
            <td>
                <p class="btn btn-secondary">
                    <a asp-action="Edit" asp-route-id="@item.ModuleId">Edit</a>
                </p>
                 
                <p class="btn btn-info">
                    <a asp-action="Details" asp-route-id="@item.ModuleId">Details</a>
                </p>
                 
                <p class="btn btn-danger">
                    <a asp-action="Delete" asp-route-id="@item.ModuleId">Delete</a>
                </p>
            </td>
        </tr>
}
    </tbody>
</table>
